<template>
  <div id="">
      <span>
            <header>
                <navbar url="#" logo="Social" cor="green darken-1"/>
            </header>

            <main>
                <div class="container">
                    <div class="row">
                        <grid-vue tamanho="4">
                            <card-menu>
                                <div class="row valign-wrapper">
                                    <grid-vue tamanho="4">
                                      <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                    </grid-vue>
                                    <grid-vue tamanho="10">
                                      <span class="black-text">
                                          <h5>Maria Silva</h5>
                                        This is a square image. Add the "circle" class to it to make it appear circular.
                                      </span>
                                    </grid-vue>>
                                </div>
                            </card-menu>
                            </grid-vue>
                            <grid-vue tamanho="6">
                                <router-view/>
                            </grid-vue>
                    </div>
                </div>
            </main>

            <footer>
                <footer-vue cor="green darken-1" logo="Social" descricao="Teste" ano="2019">

                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>

                </footer-vue>
            </footer>

      </span>
  </div>
</template>

<script>
  import Navbar from "@/components/layouts/navbar";
  import FooterVue from "@/components/layouts/FooterVue";
  import GridVue from "@/components/layouts/GridVue";
  import CardMenu from "./components/layouts/CardMenu";

export default {
  name: 'app',
  components: {CardMenu, GridVue, FooterVue, Navbar},
}
</script>

<style>

</style>
